## This is the full name of your SignalWire Space. e.g.: example.signalwire.com
SIGNALWIRE_SPACE_URL=
# Your Project ID - you can find it on the `API` page in your Dashboard.
SIGNALWIRE_PROJECT=
# Your API token - you can generate one on the `API` page in your Dashboard
SIGNALWIRE_TOKEN=
# The proxy 1 phone number you'll be using in e.164 format. Must include the `+1` , e.g., +15551234567
SIGNALWIRE_NUMBER_1=
# The proxy 2 phone number you'll be using in e.164 format. Must include the `+1` , e.g., +15551234568
SIGNALWIRE_NUMBER_2=
